{% extends 'base.html.twig' %}

{% block title %}Claim index{% endblock %}

{% block body %}
    <div class="container" style="padding:20px;padding-bottom: 100px">
        <div class="card" style="width: 90%;">
            <div class="card-header">
                <h1 style="float: left">Reclamations</h1>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table  id="example" class="table  table-hover " style="width:100%">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>First_name</th>
                            <th>Last_name</th>
                            <th>Mail</th>
                            <th>Tel</th>
                            <th>Content</th>
                            <th>Image</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for claim in claims %}
                            <tr>
                                <td>{{ claim.id }}</td>
                                <td>{{ claim.firstName }}</td>
                                <td>{{ claim.lastName }}</td>
                                <td>{{ claim.mail }}</td>
                                <td>{{ claim.tel }}</td>
                                <td>{{ claim.content }}</td>
                                <td><img src="/uploads/{{ claim.image }}" alt="Calim image " class="image"></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
