  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="index.html">Mairie Dashboard</a>

        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

        <!-- Navbar profil -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></form>




        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">

            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html" >
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" href="{{ path("article_new") }}" >
                    <i class="far fa-plus-square"></i>
                    <span>Ajouter article</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("clean_new") }}" >
                    <i class="far fa-plus-square"></i>
                    <span>Ajouter circuit</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("contact_new") }}" >
                    <i class="far fa-plus-square"></i>
                    <span>Ajouter contact</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gere_formule.html" >
                    <i class="fas fa-shipping-fast"></i>
                    <span>gerer les formule</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_index') }}" >
                    <i class="fas fa-table"></i>
                    <span>tous les articles</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('clean_index') }}" >
                    <i class="fas fa-table"></i>
                    <span>tous les circuits</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact_index') }}" >
                    <i class="fas fa-table"></i>
                    <span>tous les contacts</span>
                </a>
            </li>
        </ul>
