{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ article.sujet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>UploadAt</th>
                <td>{{ article.uploadAt ? article.uploadAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ article.datedebut ? article.datedebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ article.datefin ? article.datefin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Expiration</th>
                <td>{{ article.expiration ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>FileName</th>
                <td>{{ article.fileName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
